services:
  frontend:
    build:
      target: development
    develop:
      watch:
        - path: ./frontend
          target: /app
          action: sync
          ignore:
            - node_modules
            - .next
        - path: ./frontend/package.json
          action: rebuild

  backend:
    build:
      target: development
    develop:
      watch:
        - path: ./backend
          target: /backend
          action: sync+restart
          ignore:
            - build
            - .gradle
            - .idea